* {
    margin:0; padding:0;
}
html, body {
    width:100%; height:100%;
}
body {
    background-color: #d32f2f;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size:20px;
}
header {
    display:block;
    background-color: #D32F2F; /*#993434;*/
    padding:0.75em;
    color:white;
}
h1 {
    font-weight:300;
    font-size:3em;
    margin-bottom:0.25em;
}
h1 img {
    height: 1.3em;
    margin-bottom:-0.27em;
    margin-right: 0.1em;
}
h2 {
    text-align: center;
    font-weight:300;
    margin-bottom:0.5em;
}

main {
    margin-bottom: 1em;
    width:100%;
}
.period {
    margin: auto;
    width: 22em;
    padding: 1em;
    box-sizing: border-box;
    margin-top: 1px;
    margin-bottom: 0;
    box-shadow: 0px 0px 0px black;
    max-width: 100%;
    line-height:.8em;
}
.period .number {
    font-size:1em;
}
.period .time {
    float:right;
}
.period.class {
    background-color: white;
    color: black;
}
.period.class:first-of-type, .period.unimportant + .period.class {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
.period.class.beforebreak, .period.class:last-of-type {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.class.period.current {
    box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
}
.period.current {
    width: 27em;
    border-radius: 0.5em;
    margin-top:1em;
    margin-bottom:1em;
    padding:1.5em;
    line-height:1.6em;
}
.period.current .number {
    font-size: 2em;
}

.period.current + .class.period {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
#notfooter {
    box-sizing:border-box;
    min-height: 100%;
    padding-bottom:3em;
}
footer {
    display:block;
    background-color: #D32F2F; /*#993434;*/
    padding:0.75em;
    color:white;
    height: 1.5em; line-height:1.5em;
    margin-top:-3em;
}
footer a {
    color:white;
}

@media (max-width: 980px) {
    body {
        font-size:15px;
    }
}
@media (max-width:420px) {
    h1 {
        font-size:2em;
    }
}